<a href="https://colab.research.google.com/github/tiagodsnt/EDA--Exploratory-Data-Analysis/blob/main/house_dataframe_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importando o Pandas 
import pandas as pd

In [3]:
# Referênciando uma base de dados (upload do arquivo no menu lateral)
arquivo = 'kc_house_data.csv'

In [4]:
# Abrindo o arquivo .csv 
# arquivo: define o path do arquivo .csv
# sep=',': define o separador entre os dados
# header:  define em qual linha estão as colunas (none: não há colunas)
# nrows: define quantas linhas do arquivo .csv serão carregadas na memória. Útil.: memória (arquivos grandes) 
dataset = pd.read_csv(arquivo, sep=',', header=0, nrows= 50)

In [5]:
# Mostra o tipe de variável do DataFrame
type(dataset)

pandas.core.frame.DataFrame

In [ ]:
# Mostra as 5 primeiras linhas do DataFrame
dataset.head()

In [7]:
# Comando direto do terminal para ler as 5 primeiras linhas do arquivo
# Útil para descobrir qual o separador (sep=',') entre os dados do arquivo
!head -n 5 kc_house_data.csv

"id","date","price","bedrooms","bathrooms","sqft_living","sqft_lot","floors","waterfront","view","condition","grade","sqft_above","sqft_basement","yr_built","yr_renovated","zipcode","lat","long","sqft_living15","sqft_lot15"
7129300520,"20141013T000000",221900,3,1,1180,5650,1,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,"20141209T000000",538000,3,2.25,2570,7242,2,0,0,3,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639
5631500400,"20150225T000000",180000,2,1,770,10000,1,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,"20141209T000000",604000,4,3,1960,5000,1,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000