<a href="https://colab.research.google.com/github/tiagodsnt/EDA--Exploratory-Data-Analysis/blob/main/house_dataframe_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de Dados de imóveis com Pandas

In [5]:
# Importando o Pandas 
import pandas as pd

In [6]:
# Referênciando uma base de dados (upload do arquivo no menu lateral)
arquivo = 'kc_house_data.csv'

In [7]:
# Abrindo o arquivo .csv 
# arquivo: define o path do arquivo .csv
# sep=',': define o separador entre os dados
# header:  define em qual linha estão as colunas (none: não há colunas)
# nrows: define quantas linhas do arquivo .csv serão carregadas na memória. Útil.: memória (arquivos grandes) 
dataset = pd.read_csv(arquivo, sep=',', header=0, nrows= 50)

In [8]:
# Mostra o tipe de variável do DataFrame
type(dataset)

pandas.core.frame.DataFrame

In [9]:
# Mostra as 5 primeiras linhas do DataFrame
dataset.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [10]:
# Comando direto do terminal para ler as 5 primeiras linhas do arquivo
# Útil para descobrir qual o separador (sep=',') entre os dados do arquivo
!head -n 5 kc_house_data.csv

"id","date","price","bedrooms","bathrooms","sqft_living","sqft_lot","floors","waterfront","view","condition","grade","sqft_above","sqft_basement","yr_built","yr_renovated","zipcode","lat","long","sqft_living15","sqft_lot15"
7129300520,"20141013T000000",221900,3,1,1180,5650,1,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,"20141209T000000",538000,3,2.25,2570,7242,2,0,0,3,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639
5631500400,"20150225T000000",180000,2,1,770,10000,1,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,"20141209T000000",604000,4,3,1960,5000,1,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             50 non-null     int64
 1   date           50 non-null     object
 2   price          50 non-null     float64
 3   bedrooms       50 non-null     int64
 4   bathrooms      50 non-null     float64
 5   sqft_living    50 non-null     int64
 6   sqft_lot       50 non-null     int64
 7   floors         50 non-null     float64
 8   waterfront     50 non-null     int64
 9   view           50 non-null     int64
 10  condition      50 non-null     int64
 11  grade          50 non-null     int64
 12  sqft_above     48 non-null     float64
 13  sqft_basement  50 non-null     int64
 14  yr_built       50 non-null     int64
 15  yr_renovated   50 non-null     int64
 16  zipcode        50 non-null     int64
 17  lat            50 non-null     float64
 18  long           50 non-null     float64
 19  sqft_living15  50 non-null     int64
 20  sqft_lot15     50 non-null     int64
dtypes: float64(6), int64(14), object(1)
memory usage: 8.3+ KB

# Classificando a área de estar em pequeno, medio e grande (coluna sqft_livin)

In [12]:
# Pegando uma amostra dos 50 primeiros imóveis
dataset['sqft_living'].head(50)

0     1180
1     2570
2      770
3     1960
4     1680
5     5420
6     1715
7     1060
8     1780
9     1890
10    3560
11    1160
12    1430
13    1370
14    1810
15    2950
16    1890
17    1600
18    1200
19    1250
20    1620
21    3050
22    2270
23    1070
24    2450
25    1710
26    2450
27    1400
28    1520
29    2570
30    2320
31    1190
32    2330
33    1090
34    2060
35    2300
36    1660
37    2360
38    1220
39    2620
40    2570
41    4220
42    3595
43    1570
44    1280
45    3160
46     990
47    2290
48    1250
49    2753
Name: sqft_living, dtype: int64

In [13]:
# Retirando algumas informações da amostra 
dataset['sqft_living'].describe()

count      50.00000
mean     2023.66000
std       905.51901
min       770.00000
25%      1302.50000
50%      1795.00000
75%      2450.00000
max      5420.00000
Name: sqft_living, dtype: float64

In [14]:
# Definindo limites arbitrários para o tamanho da área de estar
tamanho_medio = (dataset['sqft_living'].mean())*1.2
tamanho_pequeno = (dataset['sqft_living'].mean())*0.5

In [15]:
# Função Processamento de Dados
def categoriza(s):
  if s > tamanho_medio:
    return 'Big'
  else:
    if s > tamanho_pequeno:
      return 'Medium'
    else:
        return 'Small'

In [16]:
dataset['size'] = dataset['sqft_living'].apply(categoriza)

In [18]:
dataset['size'].value_counts()

Medium    34
Big       14
Small      2
Name: size, dtype: int64