<a href="https://colab.research.google.com/github/tiagodsnt/EDA--Exploratory-Data-Analysis/blob/main/house_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando o Pandas 
import pandas as pd

In [3]:
# Referênciando uma base de dados (upload do arquivo no menu lateral)
arquivo = 'kc_house_data.csv'

In [8]:
# Abrindo o arquivo .csv 
# arquivo: define o path do arquivo .csv
# sep=',': define o separador entre os dados
# header:  define em qual linha estão as colunas (none: não há colunas)
# nrows: define quantas linhas do arquivo .csv serão carregadas na memória. Útil.: memória (arquivos grandes) 
dataset = pd.read_csv(arquivo, sep=',', header=0, nrows= 50)

In [13]:
# Mostra o tipe de variável do DataFrame
type(dataset)

pandas.core.frame.DataFrame

In [12]:
# Mostra as 5 primeiras linhas do DataFrame
dataset.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]